.navbar ul{
    flex-direction: column;
}
.bg::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 52%;}
    .navbar {
        justify-content: center;
    }
   .navbar ul li a{
        padding:0px 4px;}

   .navbar ul li {
        padding: 5px 4px;
    
    }