body{
    background: red;
}
.navbar{
    flex-direction: column;
}
.navbar ul{
 display: flex;
 flex-direction: column;}
 .home{
     height: 20px;
    flex-direction: column;
     margin-top: 101px;
     margin-left:   20px;

 }
 .home h1{
    
   

    font-size: 30px;
    
 }
 .home p{
    padding: 0px 0px;
    

    font-size: 10px;
    
 }

