
.navbar{
    flex-direction: column;
    height: 129px;
   
}
ul{
    padding: 0px 0px;
}

.navbar ul li a{
    font-size: 1rem;
    padding: 1px 2px;
}
.service{
    flex-direction: column;
    height: 280px;
 
 }
 #home p{
     height:28px;
     padding: 10px 20px;
 }
 #home {
    font-size:.7rem;
     padding: 10px 20px;
     height:200px;
 }
 .service .div{
font-size: .7rem;
margin: 10px 0px;

 }