body{
    margin: 0;
    padding: 0;

}
.logo img{
    height: 57px;
    width: 71px;
    margin: 7px 8px;
}
.navbar{
    display: flex;
    position: relative;
    align-items: center;
 }
.navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: .5; }
.navbar ul{
    display: flex;
}
.navbar ul li{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    padding: 0px 21px;
    font-size: 1.5rem;
   color: white;
    border-radius: 40px;
    margin: 0px 12px;
    height: 27px;
    cursor: pointer;
}
.navbar ul li a:hover{
   color: black;
   background-color: white;
}
/* hmoe */
.home::before{
    content: "";
    background: url("2.jpg");
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    top: 0;
    opacity: .8;
}